@use "../abstracts/variables" as *;

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $neutral-color-4;
}

.comment-section {
  margin: 2rem 0;
  width: 44.5rem;
  height: auto;
}
