@use "../abstracts/variables" as *;

.delete-reply {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bg;
  display: grid;
  place-items: center;
}

.dr-modal {
  background-color: $neutral-color-5;
  width: 24.2rem;
  padding: 1.5rem;
  border-radius: 8px;

  .mt__heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: $neutral-color-1;
    margin-bottom: 1rem;
  }

  .mt__info {
    font-size: 1.04rem;
    color: $neutral-color-2;
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
  }
}
